.postAnswer_container {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

.postAnswer_container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.postAnswer_container h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.postAnswer_container p {
  font-size: 16px;
}

.answer_community {
  margin-top: 20px;
}
.answer_container_box {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.answer_community h1 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 10px;
}

.answer_community p {
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.postAnswer_container textarea {
  width: 750px;
  height: 100px;
}
.postAnswer_container textarea:focus {
  border: none;
}
.answer_icon {
  display: flex;
  font-size: 20px;
  margin-bottom: 10px;
}
.icon_fix {
  display: flex;
  gap: 20px;
}
.answer_fix {
  padding-top: 10px;
  flex: 1;
}

.answer_icon svg {
  width: 25px;
  height: 25px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 50%;
}

.error-message {
  color: red;
  font-size: 16px;
  margin-bottom: 10px;
}
.postAnswer_link a{
  color: white;
  background-color: #007bff;
  border: none;
  width: 150px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  padding-top: 8px;
  height: 30px;
}
.postAnswer_container button {
  color: white;
  background-color: #007bff;
  border: none;
  width: 150px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  
  height: 40px;
}


.answer_icon .post_answer_editAndAnswer {
  display: flex;
  justify-content: flex-end;
}
.title_question{
  display: flex;
  gap: 20px;
}
.title_question a{
  margin-left: 10px;
  padding: 10px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 20px;
  text-decoration: none;
}
.answer_icon .post_answer_editAndAnswer a,
.answer_icon .post_answer_editAndAnswer button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.post_answer_editAndAnswer button:active,.postAnswer_container button:active{
  opacity: 0.8; 
  transform: scale(0.95);
}
