.edit_container_edit {
  display: flex;
  padding: 20px;
}
.edit_question_edit {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.header_row_edit {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  align-items: center;
  margin-bottom: 20px;
}
.header_row_edit > a {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}
.header_row_edit > a:hover {
  background-color: #0056b3;
}
.header_row_edit > p {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  color: black;
}
.fetched_question_edit {
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  transition: background-color 0.3s;
}
.fetched_question_edit:hover {
  background: #eaeaea;
}
.fetched_question_edit a {
  text-decoration: none;
  color: #333;
  display: flex;
  justify-content: space-between;
}
.fetched_question_edit a > div {
  flex: 1;
}
.fetched_question_edit div {
  font-size: 1rem;
}
.fetched_question_edit div:first-child {
  font-weight: bold;
}
.edit_question_edit > div {
  font-size: 1.1rem;
  color: #555;
  text-align: center;
}
