.delete_container {
  display: flex;

  padding: 20px;

  justify-content: center;

  min-height: 100vh;
}

.delete_question {
  padding: 30px;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 800px;
}

.header_row_delete {
  display: flex;

  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.header_row_delete > a {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.header_row_delete > a:hover {
  background-color: #0056b3;
}

.header_row_delete > p {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  color: black;
}

.fetched_question_delete {
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  transition: background-color 0.3s;
}

.fetched_question_delete:hover {
  background: #eaeaea;
}

.fetched_question_delete a {
  text-decoration: none;
  color: #333;
  display: flex;
  justify-content: space-between;
}

.fetched_question_delete a > div {
  flex: 1;
}

.fetched_question_delete div {
  font-size: 1rem;
}

.fetched_question_delete div:first-child {
  font-weight: bold;
}

.delete_question > div {
  font-size: 1.1rem;
  color: #555;
  text-align: center;
}
